<ion-view view-title="Canchas">
    <ion-content>
        <ion-list class="event-list">
            <label class="item item-input">
                <span class="input-label">Fecha</span>
                <input type="text" ng-if="!isIOS" placeholder="Fecha" ng-model="calendarioData.fecha_string" 
                ng-click="showDatePicker()" ng-change="goToFecha(calendarioData.fecha)">
                <input type="time" ng-if="isIOS" placeholder="Fecha" ng-model="calendarioData.fecha" 
                ng-required="true"  ng-change="goToFecha(calendarioData.fecha)">
            </label>
            <ion-item class="event-list-item {{ reservacion.className }}" ng-repeat="reservacion in reservaciones" 
            ng-show="reservacion.abierto" ng-click="seleccionarHorario(reservacion.hora, reservacion.data)">
                <div class="row">
                    <div class="col-75">
                        <div class="location" ng-if="reservacion">
                            {{ reservacion.text }}
                        </div>
                        <div class="details">
                            <span><i class="fa fa-map-marker"></i> {{ reservacion.horario }}</span>
                        </div>
                    </div>
                    <div class="chevron">
                        <i class="fa fa-chevron-right"></i>
                    </div>
                </div>
            </ion-item>

            <!--ion-item class="event-list-item" ng-repeat="reservacion in reservaciones">
                <div class="row">
                    <div class="col-75">
                        <div class="location">
                            {{reservacion.usuario.fullName}}
                        </div>
                        <div class="details">
                            <span ng-if="reservacion.fecha != null"> | <i class="fa fa-map-marker"></i> {{ reservacion.fecha }}</span>
                        </div>
                    </div>
                    <div class="time col vcenter">
                        {{ reservacion.hora_inicio }} - {{ reservacion.hora_fin }}
                    </div>
                    <div class="chevron">
                        <i class="fa fa-chevron-right"></i>
                    </div>
                </div>
            </ion-item-->

        </ion-list>

        <div class="event-footer-spacer" ng-if="reservaciones.length >  0"></div>

        <div class="padding center">
            <p class="muted" ng-if="reservaciones.length ==  0">No se encontraron reservaciones.</p>
            <button class="button button-block button-primary-skew" ng-click="showCalendarioCanchaForm()">Reservar</button>
            <!--button class="button button-block button-primary-skew" ng-click="paypalTest()">Prueba Paypal Mobile</button-->
        </div>

    </ion-content>
</ion-view>
