<ion-view view-title="Ver Cancha">
    <ion-content>
        <div class="titlebox">
            <div class="event-name inline truncate vcenter">
                <strong>{{ cancha.name }}</strong>
            </div>
        </div>

        <div class="event-description">
            <div class="icon"><i class="fa fa-commenting-o fa-fw"></i></div>
            {{ cancha.description }}
        </div>

        <div class="event-description" ng-if="cancha.image" style="text-align: center;">
            <img src="{{cancha.image}}" />
        </div>

        <div id="event-map">
            <ui-gmap-google-map center='map.center' zoom='map.zoom' options='map.options'>
                <ui-gmap-marker coords="marker.coords" idkey="marker.id"></ui-gmap-marker>
            </ui-gmap-google-map>
        </div>

        <div class="event-details">
            <table style="width: 100%;" ng-if="cancha.is_public">
                <tbody>
                <tr>
                    <th>Abierto</th>
                    <td>{{ cancha.hora_inicio | date : 'h:mm a' }}</td>
                </tr>
                <tr>
                    <th>Cierra</th>
                    <td>{{ cancha.hora_fin | date : 'h:mm a'  }}</td>
                </tr>
                <tr>
                    <td colspan="2" style="width: 100%;">
                        <table style="width: 100%;">
                            <tr>
                                <th colspan="7">Dias Disponibles</th>
                            </tr>
                            <tr>
                                <td>D</td>
                                <td>L</td>
                                <td>M</td>
                                <td>M</td>
                                <td>J</td>
                                <td>V</td>
                                <td>S</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-check fa-fw" ng-if="cancha.dias_disponibles.dom"></i></td>
                                <td><i class="fa fa-check fa-fw" ng-if="cancha.dias_disponibles.lun"></i></td>
                                <td><i class="fa fa-check fa-fw" ng-if="cancha.dias_disponibles.mar"></i></td>
                                <td><i class="fa fa-check fa-fw" ng-if="cancha.dias_disponibles.mie"></i></td>
                                <td><i class="fa fa-check fa-fw" ng-if="cancha.dias_disponibles.jue"></i></td>
                                <td><i class="fa fa-check fa-fw" ng-if="cancha.dias_disponibles.vie"></i></td>
                                <td><i class="fa fa-check fa-fw" ng-if="cancha.dias_disponibles.sab"></i></td>
                            </tr>    
                        </table>
                    </td>
                </tr>
                <tr>
                    <th>Precio por hora</th>
                    <td>{{ cancha.precio | currency : '$' }} por hora</td>
                </tr>
                <tr>
                    <th>Publica</th>
                    <td>
                        <i class="fa fa-check fa-fw" ng-if="cancha.is_public"></i>
                        <span ng-if="cancha.is_public">De Pago</span>
                    </td>
                </tr>
                <tr>
                    <th>Tipo de pago</th>
                    <td>
                        <ul>
                            <li>Efectivo <i class="fa fa-check fa-fw" ng-if="cancha.tipos_pago.efectivo"></i></li>
                            <li>Paypal <i class="fa fa-check fa-fw" ng-if="cancha.tipos_pago.paypal"></i></li>
                            <li>Tarj.Credito <i class="fa fa-check fa-fw" ng-if="cancha.tipos_pago.credito"></i></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>Administrador</th>
                    <td>{{ cancha.administrador.fullName }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="actions">
            <button class="button button-block button-positive" type="button" ng-click="gotoEditCancha()" ng-if="cancha.isAdmin">
                <i class="fa fa-pencil fa-fw"></i> Editar
            </button>
            <button class="button button-block button-calm" type="button" ng-click="gotoReservaciones()" ng-if="cancha.is_public">
                <i class="fa fa-eye fa-fw"></i> Reservaciones
            </button>
            <button class="button button-block button-assertive" type="button" ng-click="deleteCancha()" ng-if="cancha.isAdmin">
                <i class="fa fa-trash fa-fw"></i> Eliminar
            </button>
        </div>
    </ion-content>
</ion-view>
