<ion-view view-title="Canchas">
    <ion-content>
        <ion-list class="event-list">

            <ion-item class="event-list-item" ng-repeat="cancha in canchas" href="#/app/canchas/{{cancha.id}}">
                <div class="row">
                    <div class="col-75">
                        <div class="location">
                            {{cancha.name}}
                        </div>
                        <div class="details">
                            <span ng-if="cancha.distance != null"> | <i class="fa fa-map-marker"></i> {{ cancha.distance }} km</span>
                        </div>
                    </div>
                    <div class="time col vcenter">
                        
                    </div>
                    <div class="chevron">
                        <i class="fa fa-chevron-right"></i>
                    </div>
                </div>
            </ion-item>

        </ion-list>

        <div class="event-footer-spacer" ng-if="events.length >  0"></div>

        <div class="padding center">
            <p class="muted" ng-if="canchas.length ==  0">No se encontraron canchas.</p>
            <button class="button button-block button-primary-skew" ng-click="goToCreateCancha()">Registra tu cancha</button>
        </div>

    </ion-content>
</ion-view>

<script id="location-modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar>
            <h1 class="title">Fijar ubicación!</h1>
        </ion-header-bar>
        <ion-content>
            <div class="bar bar-header item-input-inset">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input type="text" placeholder="Dirección" ng-model="event.direction" g-places-autocomplete>
                </label>
                <button class="button button-clear" type="button" ng-click="event.direction = null">
                    X
                </button>
            </div>

            <div id="new-event-map">
                <ui-gmap-google-map center='map.center' zoom='map.zoom' options='map.options'>
                    <ui-gmap-marker coords="marker.coords" idkey="marker.id"></ui-gmap-marker>
                </ui-gmap-google-map>
            </div>
        </ion-content>
    </ion-modal-view>
</script>