<ion-view view-title="Contáctanos">
    <ion-content>
        <div class="contact">
            <div class="header">
                Contáctanos
            </div>
            <div class="text">
                <span ng-click="sendEmail()">
                    <i class="icon ion-email"></i> info@laretaapp.com
                </span>
                <br><br>
                <span ng-click="callPhone()">
                    <i class="icon ion-android-call"></i> +52 1 (81) 1050 3445
                </span>
            </div>
        </div>

        <p class="padding center muted"><span class="underline" ng-click="openPrivacyModal()">Aviso de Privacidad</span><br>&copy; 2015 La Reta. Todos los derechos reservados.</p>
    </ion-content>
</ion-view>
