<ion-view view-title="Ver Cancha">
        <ion-header-bar>
            <h1 class="title">Cancha {{canchaData.name}}</h1>
        </ion-header-bar>
        <ion-content>
            <form id="canchaForm" name="canchaForm">
            <div class="box">
                <div class="list">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Nombre</span>
                        <input type="text" placeholder="Nombre de la cancha" ng-model="canchaData.name" ng-required="true">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Descripción</span>
                        <textarea rows="6" placeholder="Detalles sobre la canchaData.." ng-model="canchaData.description" ng-required="true"></textarea>
                    </label>
                    <div class="item" ng-if="canchaData.image != null">
                        <img src="{{canchaData.image}}"  width="100%"/>
                    </div>
                    <div class="item actions">
                        <button class="button button-block button-primary-skew" type="button" ng-click="imageCancha()">Foto cancha</button>
                    </div>
                    <div class="item" ng-click="openModal()">
                        <span>Dirección</span>
                        <span class="pull-right input-text-button" ng-if="!canchaData.address">Ver mapa <i class="fa fa-map-o fa-fw orange"></i></span>
                        <span class="pull-right input-text-button" ng-if="canchaData.address">Registrada <i class="fa fa-map-pin fa-fw orange"></i></span>
                    </div>
                    <div class="item item-toggle">
                        Es publica
                        <label class="toggle toggle-assertive">
                        <input type="checkbox" ng-model="canchaData.is_public">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                        </label>
                    </div>
                    <div class="item item-divider" ng-if="!canchaData.is_public">
                        Horarios
                    </div>
                    <label class="item item-input" ng-if="!canchaData.is_public">
                        <span class="input-label">Abre</span>
                        <input type="text" ng-if="!isIOS" placeholder="Hora" ng-model="canchaData.hora_inicio_string" ng-required="true"  ng-click="showTimePickerHoraInicio()">
                        <input type="time" ng-if="isIOS" placeholder="Hora" ng-model="canchaData.hora_inicio" ng-required="true">
                    </label>
                    <label class="item item-input" ng-if="!canchaData.is_public">
                        <span class="input-label">Cierra</span>
                        <input type="text" ng-if="!isIOS" placeholder="Hora" ng-model="canchaData.hora_fin_string" ng-required="true"  ng-click="showTimePickerHoraFin()">
                        <input type="time" ng-if="isIOS" placeholder="Hora" ng-model="canchaData.hora_fin" ng-required="true">
                    </label>
                    <div class="item item-divider" ng-if="!canchaData.is_public">
                        Dias disponibles
                    </div>
                    <ion-checkbox ng-model="canchaData.dias_disponibles.dom" ng-if="!canchaData.is_public">Domingo</ion-checkbox>
                    <ion-checkbox ng-model="canchaData.dias_disponibles.lun" ng-if="!canchaData.is_public">Lunes</ion-checkbox>
                    <ion-checkbox ng-model="canchaData.dias_disponibles.mar" ng-if="!canchaData.is_public">Martes</ion-checkbox>
                    <ion-checkbox ng-model="canchaData.dias_disponibles.mie" ng-if="!canchaData.is_public">Miercoles</ion-checkbox>
                    <ion-checkbox ng-model="canchaData.dias_disponibles.jue" ng-if="!canchaData.is_public">Jueves</ion-checkbox>
                    <ion-checkbox ng-model="canchaData.dias_disponibles.vie" ng-if="!canchaData.is_public">Viernes</ion-checkbox>
                    <ion-checkbox ng-model="canchaData.dias_disponibles.sab" ng-if="!canchaData.is_public">Sabado</ion-checkbox>
                    <label class="item item-input item-stacked-label" ng-if="!canchaData.is_public">
                        <span class="input-label">Precio por hora</span>
                        <input type="number" placeholder="Precio por juego" ng-model="canchaData.precio" ng-required="true">
                    </label>
                    <div class="item item-divider" ng-if="!canchaData.is_public">
                        Tipos de pago
                    </div>
                    <ion-checkbox ng-model="canchaData.tipos_pago.efectivo" ng-if="!canchaData.is_public">Efectivo</ion-checkbox>
                    <ion-checkbox ng-model="canchaData.tipos_pago.paypal" ng-if="!canchaData.is_public">Paypal</ion-checkbox>
                    <ion-checkbox ng-model="canchaData.tipos_pago.credito" ng-if="!canchaData.is_public">Credito</ion-checkbox>
                </div>
            </div>

            <div class="actions">
                <button class="button button-block button-primary-skew" type="submit" ng-disabled="canchaForm.$invalid" ng-click="canchaForm.$valid && doCanchaForm()">Guardar</button>
                <button class="button button-block button-primary-skew" type="button" ng-click="closeCanchaForm()">Cerrar</button>
            </div>
        </form>
        </ion-content>
</ion-view>