<ion-view view-title="">
    <ion-content class="home">
        <img class="home-logo drop-shadow" src="img/logo.svg">

        <div class="padding">
            <button class="button button-block button-primary-skew" type="button" ng-click="findEvent()">Busca tu Reta</button>
            <button class="button button-block button-primary-skew" type="button" ng-click="newEvent()">Arma tu Reta</button>
            <button class="button button-block button-primary-skew" type="button" ng-click="publicarFacebook()">Prueba Facebook</button>
        </div>

    </ion-content>
</ion-view>
