<ion-view view-title="Nueva Reta">
    <ion-content>
        <form id="eventForm" name="eventForm">
            <div class="box">
                <div class="list">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Deporte
                        </div>
                        <select
                                ng-model="event.sport"
                                convert-to-number
                                ng-options="sport.id as sport.name for sport in sportOptions"
                                ng-required="true">
                            <option value="" ng-if="false"></option>
                        </select>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Lugar</span>
                        <input type="text" placeholder="Nombre de la cancha, establecimiento, estadio.." ng-model="event.location" ng-required="true">
                    </label>
                    <div class="item" ng-click="openModal()">
                        <span>Dirección</span>
                        <span class="pull-right input-text-button" ng-if="!event.address">Ver mapa <i class="fa fa-map-o fa-fw orange"></i></span>
                        <span class="pull-right input-text-button" ng-if="event.address">Registrada <i class="fa fa-map-pin fa-fw orange"></i></span>
                    </div>
                    <!--
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Fecha</span>
                        <input type="date" placeholder="Fecha" ng-model="event.date" ng-required="true">
                    </label>-->
                    <label class="item item-input">
                        <span class="input-label">Fecha</span>
                        <input type="text" ng-if="!isIOS" placeholder="Fecha" ng-model="event.dateString" min="{{ minDate }}" ng-required="true" ng-click="showDatePicker()">
                        <input type="date" ng-if="isIOS" placeholder="Fecha" ng-model="event.date" min="{{ minDate }}" ng-required="true">
                    </label>
                    <!--
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Hora</span>
                        <input type="time" placeholder="Hora" ng-model="event.time" ng-required="true">
                    </label>-->
                    <label class="item item-input">
                        <span class="input-label">Hora</span>
                        <input type="text" ng-if="!isIOS" placeholder="Hora" ng-model="event.timeString" ng-required="true"  ng-click="showTimePicker()">
                        <input type="time" ng-if="isIOS" placeholder="Hora" ng-model="event.time" ng-required="true">
                    </label>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Habilidad
                        </div>
                        <select
                                ng-model="event.skill"
                                convert-to-number
                                ng-options="skill.id as skill.label for skill in skillOptions">
                        </select>
                    </label>
                    <label class="item item-input item-select">
                        <span class="input-label">Género</span>
                        <select
                                ng-model="event.gender"
                                ng-options="gender.id as gender.label for gender in genderOptions"
                                convert-to-number>
                            <option value="0">-- Selecciona una opcion --</option>
                        </select>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Participantes</span>
                        <input type="number" placeholder="Jugadores requeridos" min="2" ng-model="event.participants" ng-required="true">
                    </label>
                    <div class="item item-input item-stacked-label">
                        <span class="input-label">Edades <small>(Opcional)</small></span>
                        <div class="row no-padding">
                            <div class="col no-padding">
                                <input type="number" placeholder="Mínima" min="15" max="120" ng-model="event.minAge" ion-stop-event="click">
                            </div>
                            <div class="col no-padding">
                                <input type="number" placeholder="Máxima" min="15" max="120" ng-model="event.maxAge" ion-stop-event="click">
                            </div>
                        </div>
                    </div>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Descripción</span>
                        <textarea rows="6" placeholder="Detalles sobre la reta.." ng-model="event.description" ng-required="true"></textarea>
                    </label>
                </div>
            </div>

            <div class="actions">
                <button class="button button-block button-primary-skew" type="submit" ng-disabled="eventForm.$invalid" ng-click="eventForm.$valid && createEvent()">Crear Reta</button>
            </div>
        </form>
    </ion-content>
</ion-view>