<ion-view view-title="Perfil">
    <ion-content>
        <div class="profile-header">

            <img class="profile-image" src="img/blank-avatar-big.png" ng-if="user.image == null && facebookConnected == false" />
            <img class="profile-image" src="{{ user.image }}" ng-if="user.image != null" />
            
            <a class="profile-camera" ng-if="user.self == 1 && facebookConnected == false" ng-click="editProfilePicture()"><i class="fa fa-camera fa-fw"></i></a>

            <div class="profile-name">
                <strong>{{ user.fullName }}</strong>
                <br>
                <small>{{ user.email }}</small>
            </div>
        </div>

        <div class="profile-details">
            <table>
                <tbody>
                <tr ng-if="user.birthDate !== undefined">
                    <th>Edad</th>
                    <td>{{ user.age }} años ({{ user.birthDate }})</td>
                </tr>
                <tr>
                    <th>Género</th>
                    <td>{{ user.genderName }}</td>
                </tr>
                <tr>
                    <th>Deporte Favorito</th>
                    <td>{{ user.sportName }}</td>
                </tr>
                <tr>
                    <th>Ciudad</th>
                    <td>{{ user.city }}</td>
                </tr>
                <tr>
                    <th>Bio</th>
                    <td>{{ user.bio }}</td>
                </tr>
                <tr ng-if="user.role!=ROLE_USER">
                    <th>Permiso</th>
                    <td>{{ user.tipo_usuario }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <br>

        <div class="actions">
            <button ng-if="user.self == 1" class="button button-positive button-no-bar button-block-medium" type="button" ng-click="goToEditProfile()">Editar</button>
            <button ng-if="facebookConnected == false" class="button button-block button-positive"  ng-click="goToChangePassword()">Cambiar Contraseña</button>
        </div>
    </ion-content>
</ion-view>
