<div class="list">
    <label class="item item-input">
        <span class="input-label">Fecha</span> {{ reservacion.fecha }}
    </label>
    <label class="item item-icon-left">
        <i class="icon ion-arrow-return-right"></i>
        Desde
        <span class="item-note">
                          {{ reservacion.hora_inicio }}
                        </span>
    </label>
    <label class="item item-icon-left">
        <i class="icon ion-arrow-return-left"></i>
        Hasta
        <span class="item-note">
                          {{ reservacion.hora_fin }}
                        </span>
    </label>
</div>
