@font-face {
    font-family: 'FuturaStd';
    src: url('FuturaStd-Medium.otf');
}

@font-face {
    font-family: 'FuturaStd';
    src: url('FuturaStd-Book.otf');
    font-weight: 200;
}

@font-face {
    font-family: 'FuturaStd';
    src: url('FuturaStd-Bold.otf');
    font-weight: bold;
}