/* FONTS */
@font-face {
  font-family: Gotham;
  src: url("../fonts/gotham-medium.otf") format("opentype"); }

@font-face {
  font-family: HelveticaLight;
  src: url("../fonts/Helvetica-Light.ttf") format("truetype");
  font-style: normal; }

@font-face {
  font-family: HelveticaLightOblique;
  src: url("../fonts/Helvetica-LightOblique.ttf") format("truetype");
  font-style: italic, oblique; }

/* DEFAULT IONIC OVERRIDES */
/* COLORS */
/* SKEW */
/* UTILITIES */
.vcenter, .event-list-item .chevron, .event-participant .chevron, .message-list-item .chevron {
  display: flex;
  align-items: center; }

.center {
  text-align: center; }

.underline {
  text-decoration: underline; }

.padding {
  padding: 15px; }

.no-padding {
  padding: 0; }

.show-list-numbers {
  padding-left: 20px !important;
  list-style-type: decimal !important; }

.inline {
  display: inline-block; }

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.full-width {
  width: 100%; }

/* GENERAL OVERRIDES */
body, h1, h2, h3, h4, h5, p, input, button, select, textarea {
  font-family: "Gotham", Arial, sans-serif;
  color: #f0f0f0; }

p {
  font-family: HelveticaLight, Arial, sans-serif;
  letter-spacing: 0.05em;
  font-style: normal;
  font-size: 12px; }

a, a:hover, a:active, a:visited {
  color: #f0f0f0; }

.pane, .scroll-content {
  background-color: #1e1e1e; }

button, .button {
  font-family: Gotham, sans-serif;
  font-size: 16px;
  border-radius: 0 !important;
  border: none;
  position: relative; }

.button-block-medium {
  width: 85% !important;
  margin: 0 auto; }

.item-select:after {
  color: #eb5c25 !important; }

.item-input {
  /* TODO: Fix this */ }
  .item-input .input-label {
    font-family: Gotham, sans-serif;
    font-size: 14px; }
    .item-input .input-label small {
      font-size: 80% !important; }
  .item-input input, .item-input select, .item-input option, .item-input textarea {
    font-family: HelveticaLight, Arial, sans-serif;
    letter-spacing: 0.05em;
    font-style: normal;
    font-size: 13.5px; }
  .item-input input[type="date"], .item-input input[type="time"] {
    text-align: right; }
  .item-input input::-moz-placeholder, .item-input input::-webkit-input-placeholder, .item-input input:-ms-input-placeholder,
  .item-input textarea::-moz-placeholder, .item-input textarea::-webkit-input-placeholder, .item-input textarea:-ms-input-placeholder {
    font-family: HelveticaLightOblique, Arial, sans-serif;
    letter-spacing: 0.05em;
    font-style: italic;
    font-size: 13.5px; }

.input-text-button {
  font-family: HelveticaLight, Arial, sans-serif;
  letter-spacing: 0.05em;
  font-style: normal;
  font-size: 13.5px; }

.popup {
  background: #f0f0f0 !important;
  box-shadow: 0 0 10px #1e1e1e; }

.popup-head h3 {
  font-family: Gotham, sans-serif;
  font-size: 16px;
  color: #505050; }

.popup-body {
  font-family: HelveticaLight, Arial, sans-serif;
  letter-spacing: 0.05em;
  font-style: normal;
  font-size: 13px;
  color: #505050; }

.popup-buttons .button-positive {
  border: none !important;
  background-image: none; }

/* BASIC ELEMENTS */
.button-skew, .button-primary-skew::after, .button-positive-skew::after {
  content: '';
  height: 100%;
  top: 0;
  position: absolute;
  z-index: -1;
  /*width: 100%;*/ }

.button-primary {
  background-color: #eb5c25;
  color: #f0f0f0; }

.button-primary-skew {
  background-color: transparent;
  color: #f0f0f0; }

.button-primary-skew::after {
  background-color: #eb5c25; }

.button-positive, .button-positive.activated {
  background-color: #1e73eb !important;
  color: #f0f0f0; }

.button-positive-skew {
  background-color: transparent;
  color: #f0f0f0; }

.button-positive-skew::after {
  background-color: #1e73eb; }

.button-navy-blue, .button-navy-blue.activated {
  background-color: #1b214d !important;
  color: #f0f0f0; }

.button-gray, .button-gray.activated {
  background-color: #f0f0f0 !important;
  color: #1b214d; }

.button-red, .button-red.activated {
  background-color: #ef473a !important;
  color: #f0f0f0; }

.button-no-bar, .button-no-bar.activated {
  background-image: none !important; }

.box, .event-list-item, .event-participant, .message-list-item, .event-description, .event-details, .contact {
  margin: 15px;
  background-color: #333;
  border: none; }
  .box *, .event-list-item *, .event-participant *, .message-list-item *, .event-description *, .event-details *, .contact * {
    background: none !important;
    border: none;
    font-size: 14px;
    color: #f0f0f0 !important; }
  .box .item, .event-list-item .item, .event-participant .item, .message-list-item .item, .event-description .item, .event-details .item, .contact .item {
    margin: 0 1px;
    border-bottom: 0.5px solid #bbbfc0; }
    .box .item:last-child, .event-list-item .item:last-child, .event-participant .item:last-child, .message-list-item .item:last-child, .event-description .item:last-child, .event-details .item:last-child, .contact .item:last-child {
      border-bottom: none; }

.titlebox, .datebox {
  position: relative;
  height: 50px;
  margin: 15px;
  padding: 5px;
  background-color: #ffffff;
  font-family: HelveticaLight, Arial, sans-serif;
  letter-spacing: 0.05em;
  font-style: normal;
  font-size: 15px;
  color: #505050; }

.actions {
  text-align: center;
  padding: 15px; }

.page-title {
  font-size: 18px;
  padding: 15px 15px 0 15px; }

/* NAV BAR (HEADER) */
.bar-header {
  background-color: #1b214d !important;
  color: #eb5c25 !important;
  /* Fix the bottom border on retina displays */
  border: 0 !important;
  border-bottom-color: transparent !important;
  background-image: none !important;
  border-bottom: none !important; }
  .bar-header button {
    color: #eb5c25 !important; }

.bar-header .title {
  display: none; }

.nav-logo {
  float: right;
  height: 34px;
  width: auto; }

/* SIDEBAR */
ion-side-menu .scroll-content {
  background: url("../img/sidebar.jpg");
  background-size: cover;
  background-color: #505050 !important;
  /* Fix the top border on retina displays */
  margin-top: -2px !important; }

.platform-ios ion-side-menu ion-content {
  padding-top: 25px; }

.menu .item, .menu .item-content {
  padding: 0;
  margin: 0;
  border: none;
  color: #f0f0f0;
  font-family: Gotham, sans-serif;
  font-size: 16px;
  font-size: 16px !important; }
  .menu .item, .menu .item.activated, .menu .item-content, .menu .item-content.activated {
    background: none; }

.menu .item {
  height: 60px; }

.menu .item-icon {
  position: relative;
  float: left;
  color: white;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  height: 60px;
  width: 70px;
  text-align: center;
  padding-top: 15px; }

.menu .item-label {
  display: inline-block;
  width: calc(100% - 100px);
  padding: 20px 0; }

/* SCREEN: HOME */
.home-logo {
  width: 100%;
  padding: 50px 20px; }

/* SCREEN: LOGIN */
/* SCREEN: SPORTS */
.search-header {
  margin: 25px;
  padding: 5px;
  background-color: #ffffff; }
  .search-header i {
    width: 30px;
    color: #1b214d; }
  .search-header input {
    display: inline-block;
    width: calc(100% - 50px);
    font-family: HelveticaLight, Arial, sans-serif;
    letter-spacing: 0.05em;
    font-style: normal;
    font-size: 14px; }

.sport-separator {
  padding: 5px 10px;
  background-color: #eb5c25;
  color: #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
  margin-bottom: 15px;
  text-align: left;
  font-family: Gotham, sans-serif;
  font-size: 16px; }

.sport-list {
  text-align: center; }

.sport-item {
  display: inline-block;
  width: 50%;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none; }
  .sport-item img {
    display: block;
    width: 100%;
    height: auto;
    padding: 15px; }
  .sport-item a {
    text-decoration: none;
    font-family: Gotham, sans-serif;
    font-size: 14px; }

@media (min-width: 400px) {
  .sport-item {
    width: 33%; } }

/* SCREEN: EVENTS */
.datebox .label, .datebox .selector {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.datebox .label {
  padding: 10px;
  font-size: 14px;
  line-height: 30px;
  color: #505050;
  overflow: hidden; }

.datebox .selector {
  opacity: 0;
  padding: 0;
  width: 100%;
  z-index: 10; }
  .datebox .selector select {
    width: 100%;
    font-size: 30px;
    border: none; }

/* SCREEN: NEW EVENT */
.placeholder-icon {
  color: #1b214d; }

/* SCREEN: PROFILE */
.profile-header {
  position: relative;
  height: 100vw;
  width: 100%; }
  .profile-header .profile-image {
    height: 100%;
    width: 100%;
    display: block;
    z-index: -2; }
  .profile-header .profile-camera {
    position: absolute;
    top: 10px;
    right: 10px; }
  .profile-header .profile-name {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-family: Gotham, sans-serif;
    font-size: 18px; }
    .profile-header .profile-name small {
      font-family: HelveticaLight, Arial, sans-serif;
      letter-spacing: 0.05em;
      font-style: normal;
      font-size: 14px; }

.profile-details table {
  width: 100%; }

.profile-details tr {
  height: 30px !important; }

.profile-details th {
  font-family: Gotham, sans-serif;
  font-size: 14px;
  text-align: left;
  padding-left: 10px;
  vertical-align: middle; }

.profile-details tr:nth-child(odd) {
  background-color: #1e73eb; }

.profile-details td {
  font-family: HelveticaLight, Arial, sans-serif;
  letter-spacing: 0.05em;
  font-style: normal;
  font-size: 14px;
  vertical-align: middle; }

/* SCREEN: EVENTS */
.event-list-item, .event-participant, .message-list-item {
  box-shadow: none !important;
  padding: 10px;
  margin: 5px 15px;
  /* para los calendarios de canchas */ }
  .event-list-item:first-child, .event-participant:first-child, .message-list-item:first-child {
    margin-top: 20px; }
  .event-list-item .location, .event-participant .location, .message-list-item .location {
    font-family: HelveticaLight, Arial, sans-serif;
    letter-spacing: 0.05em;
    font-style: normal;
    font-size: 14px; }
    .event-list-item .location i, .event-participant .location i, .message-list-item .location i {
      color: #eb5c25 !important; }
  .event-list-item .details, .event-participant .details, .message-list-item .details, .event-list-item .details span, .event-participant .details span, .message-list-item .details span {
    font-family: HelveticaLight, Arial, sans-serif;
    letter-spacing: 0.05em;
    font-style: normal;
    font-size: 11px; }
    .event-list-item .details i, .event-participant .details i, .message-list-item .details i, .event-list-item .details span i, .event-participant .details span i, .message-list-item .details span i {
      font-size: 10px; }
  .event-list-item .time, .event-participant .time, .message-list-item .time {
    font-family: HelveticaLight, Arial, sans-serif;
    letter-spacing: 0.05em;
    font-style: normal;
    font-size: 12px;
    line-height: 12px; }
    .event-list-item .time small, .event-participant .time small, .message-list-item .time small {
      font-family: HelveticaLight, Arial, sans-serif;
      letter-spacing: 0.05em;
      font-style: normal;
      font-size: 10px; }
  .event-list-item.calendario-horario-no-disponible, .calendario-horario-no-disponible.event-participant, .calendario-horario-no-disponible.message-list-item {
    background-color: gray; }
  .event-list-item.calendario-horario-ocupado, .calendario-horario-ocupado.event-participant, .calendario-horario-ocupado.message-list-item {
    background-color: orange;
    color: black !important;
    font-weight: bold; }

/* SCREEN: EVENT */
.event-name {
  max-width: calc(100% - 40px);
  line-height: 40px;
  padding-left: 5px; }

.event-status {
  height: 100%;
  padding-right: 5px; }
  .event-status button i {
    color: inherit; }
  .event-status i {
    color: #eb5c25; }

#event-map {
  width: 100%;
  height: 250px; }

.angular-google-map-container {
  height: 250px; }

/** This is the map configuration for NEW EVENTS, not a new map format */
#new-event-map {
  width: 100%;
  height: 300px; }

#new-event-map:before {
  width: 22px;
  height: 40px;
  display: block;
  content: ' ';
  position: relative;
  top: 50%;
  left: 50%;
  margin: -40px 0 0 -11px;
  background: url("../img/marker.png");
  background-size: 22px 40px;
  /* Since I used the HiDPI marker version this compensates for the 2x size */
  z-index: 1; }

.new-event-instructions {
  padding: 15px;
  font-family: HelveticaLight, Arial, sans-serif;
  letter-spacing: 0.05em;
  font-style: normal;
  font-size: 12px; }
  .new-event-instructions strong {
    font-weight: normal;
    font-family: HelveticaLight, Arial, sans-serif;
    letter-spacing: 0.05em;
    font-style: normal;
    font-size: 14px; }

.event-description {
  box-shadow: none;
  padding: 10px;
  min-height: 55px;
  font-size: 12px;
  text-align: justify;
  font-family: HelveticaLight, Arial, sans-serif;
  letter-spacing: 0.05em;
  font-style: normal;
  font-size: 13.5px; }
  .event-description .icon {
    display: block;
    float: left;
    padding-right: 10px; }
    .event-description .icon i {
      font-size: 30px !important; }

.event-details {
  box-shadow: none;
  padding: 10px; }
  .event-details table th {
    color: #eb5c25 !important;
    text-align: left;
    font-family: Gotham, sans-serif;
    font-size: 14px; }
  .event-details table td {
    padding-left: 10px;
    font-family: HelveticaLight, Arial, sans-serif;
    letter-spacing: 0.05em;
    font-style: normal;
    font-size: 13.5px; }

/* SCREEN: USER EVENTS */
.user-event-header {
  margin: 15px;
  padding: 15px 10px;
  background-color: #eb5c25;
  color: #f0f0f0;
  font-family: Gotham, sans-serif;
  font-size: 16px; }

.user-no-events {
  color: #505050;
  text-align: center; }

/* SCREEN: EVENT PARTICIPANTS */
.event-participant .profile-avatar {
  height: 60px;
  width: 60px;
  float: left;
  margin-right: 10px;
  margin-bottom: 5px; }

.event-participant .owner {
  font-family: HelveticaLight, Arial, sans-serif;
  letter-spacing: 0.05em;
  font-style: normal;
  font-size: 11px;
  line-height: 10px;
  display: block; }

.event-participant .details, .event-participant .details * {
  font-family: HelveticaLight, Arial, sans-serif;
  letter-spacing: 0.05em;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  margin: 0; }

/* SCREEN: EVENT MESSAGE BOARD */
.message-list-item .author {
  display: inline-block;
  font-weight: bold; }

.message-list-item .author-self {
  color: #eb5c25 !important; }

.message-list-item .message {
  font-family: HelveticaLight, Arial, sans-serif;
  letter-spacing: 0.05em;
  font-style: normal;
  font-size: 12px; }

.message-list-item .delete {
  display: block;
  float: right;
  color: #bbbfc0; }

.message-list-item .timestamp {
  width: 100%;
  text-align: right;
  display: inline-block;
  font-family: HelveticaLight, Arial, sans-serif;
  letter-spacing: 0.05em;
  font-style: normal;
  font-size: 10px;
  color: #bbbfc0 !important; }

.event-no-messages {
  text-align: center;
  font-family: HelveticaLight, Arial, sans-serif;
  letter-spacing: 0.05em;
  font-style: normal;
  font-size: 12px;
  color: #bbbfc0;
  padding-top: 15px; }

.message-textarea {
  font-family: HelveticaLight, Arial, sans-serif;
  letter-spacing: 0.05em;
  font-style: normal;
  font-size: 12px;
  width: 100%;
  padding-bottom: 15px; }

.message-button {
  margin: 0;
  padding: 0;
  border: none !important; }

/* SCREEN: CONTACT INFORMATION */
.contact {
  padding: 15px;
  text-align: center; }
  .contact .header {
    display: inline-block;
    font-family: Gotham, sans-serif;
    font-size: 20px;
    color: #1e73eb !important;
    padding-bottom: 25px; }
  .contact .text {
    font-family: HelveticaLight, Arial, sans-serif;
    letter-spacing: 0.05em;
    font-style: normal;
    font-size: 15px;
    margin-bottom: 10px; }

.privacy-text {
  margin: 15px;
  padding: 10px;
  background-color: #ffffff; }
  .privacy-text p {
    color: #505050 !important;
    font-size: 11px !important;
    text-align: justify; }

/* SCREEN: LOGIN */
#login .pills {
  text-align: center;
  padding: 0; }
  #login .pills .opt, #login .pills .option-selected, #login .pills .option {
    padding: 15px 5px;
    font-size: 16px !important; }
  #login .pills .option-selected {
    border-top: none;
    color: #eb5c25 !important;
    background: none;
    position: relative; }
  #login .pills .option-selected::after {
    content: '';
    background-color: #f0f0f0 !important;
    width: 100%;
    left: 0;
    height: 100%;
    top: 0;
    position: absolute;
    z-index: -1; }
  #login .pills .option {
    border-top: 4px solid transparent; }

#login .list {
  padding: 0 !important; }

#login .item {
  border: none !important;
  background-color: #f0f0f0 !important;
  margin: 0 !important; }

#login .login-button {
  margin: 0 !important; }

#login .input-label {
  font-family: HelveticaLight, Arial, sans-serif;
  letter-spacing: 0.05em;
  font-style: normal;
  font-size: 15px;
  color: #1b214d; }

#login input {
  font-family: HelveticaLight, Arial, sans-serif;
  letter-spacing: 0.05em;
  font-style: normal;
  font-size: 15px;
  color: #1b214d; }

/* COLOR OVERRIDES */
.orange {
  color: #eb5c25 !important; }

.muted, .muted:hover, .muted:active, .mutedvisited {
  color: #bbbfc0 !important; }

.activated {
  color: inherit;
  background-color: transparent !important; }

/* FUNKY BORDERS */
.funky-border-bottom-blue, .button-primary, .button-primary-skew::after {
  background-position: center bottom;
  background-size: 100% 4px;
  background-image: -webkit-linear-gradient(right, #f0f0f0, #1b214d) 1 100%;
  background-image: -moz-linear-gradient(right, #f0f0f0, #1b214d) 1 100%;
  background-image: -ms-linear-gradient(right, #f0f0f0 0%, #1b214d 100%);
  background-image: -o-linear-gradient(right, #f0f0f0, #1b214d) 1 100%;
  background-image: linear-gradient(to right, #f0f0f0, #1b214d);
  background-repeat: no-repeat; }

.funky-border-top-blue, .user-event-header {
  background-position: center top;
  background-size: 100% 4px;
  background-image: -webkit-linear-gradient(right, #1b214d, #f0f0f0, #1b214d) 1 100%;
  background-image: -moz-linear-gradient(right, #1b214d, #f0f0f0, #1b214d) 1 100%;
  background-image: -ms-linear-gradient(right, #1b214d 0%, #f0f0f0 50%, #1b214d 100%);
  background-image: -o-linear-gradient(right, #1b214d, #f0f0f0, #1b214d) 1 100%;
  background-image: linear-gradient(to right, #1b214d, #f0f0f0, #1b214d);
  background-repeat: no-repeat; }

.funky-border-bottom-gray, .button-positive, .button-positive.activated, .button-positive-skew::after {
  background-position: center bottom;
  background-size: 100% 4px;
  background-image: -webkit-linear-gradient(right, #505050, #f0f0f0, #505050) 1 100%;
  background-image: -moz-linear-gradient(right, #505050, #f0f0f0, #505050) 1 100%;
  background-image: -ms-linear-gradient(right, #505050 0%, #f0f0f0 50%, #505050 100%);
  background-image: -o-linear-gradient(right, #505050, #f0f0f0, #505050) 1 100%;
  background-image: linear-gradient(to right, #505050, #f0f0f0, #505050);
  background-repeat: no-repeat; }

.funky-border-top-gray, #login .pills .option-selected::after {
  background-position: center top;
  background-size: 100% 4px;
  background-image: -webkit-linear-gradient(right, #505050, #f0f0f0, #505050) 1 100%;
  background-image: -moz-linear-gradient(right, #505050, #f0f0f0, #505050) 1 100%;
  background-image: -ms-linear-gradient(right, #505050 0%, #f0f0f0 50%, #505050 100%);
  background-image: -o-linear-gradient(right, #505050, #f0f0f0, #505050) 1 100%;
  background-image: linear-gradient(to right, #505050, #f0f0f0, #505050);
  background-repeat: no-repeat; }

/* AUTOCOMPLETE FIX PELOS 2016-03-03 */
div.pac-container {
  pointer-events: auto;
  position: absolute;
  z-index: 10000; }
